*{
    box-sizing: border-box;
}

body{
   
    background-color: hsl(240, 78%, 98%);
    font-family: 'Montserrat', sans-serif;
    color:hsl(232, 13%, 33%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    margin-top: 0px;
}

body::before{
    content:'';
    background-image: url('./images/bg-top.svg');
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top:0;
    right:0;
    height:100%;
    width: 100%;
    z-index:-1;


}

body::after{
    content:'';
    background-image: url('./images/bg-bottom.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    bottom:0;
    left:0;
    height:51%;
    width: 50%;
    z-index:-1;
}

.container{
    width:1440px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

}

.price-comparsion{
    height:340px;
    display: flex;
    /* justify-content: center; */
    align-items: center;   
}

.pricing{
    color:hsl(233, 13%, 49%)
}

.pricing-type{
    color:hsl(234, 14%, 74%);
    font-size:.65em;
    padding-bottom:40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle{
    margin: 0 10px 0 10px;
    position:relative;
    display:inline-block;
    width:48px;
    height:26px;
    border-radius:26px;
    background-image: linear-gradient(to right,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.toggle input{
    opacity:0;
    width:0;
    height:0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    border-radius:50%;
    right: 22px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19);
    transform: translateX(19);
  }
  

.price-box{
    width:250px;
    height:340px;
    padding:20px;
    border-radius: 10px;
    box-shadow:0px 5px 10px rgba(0,0,0,0.1);
    padding-top:0px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.price-box:nth-child(2) {
    border-radius: 0px;
}

.price-box:hover{
    background-color: hsl(236deg 70% 70%);
    color:white;
    width:250px;
    height:380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:22.5px;
}

.price-box:hover li{
    color:white; 
    width:210px;  
    border-bottom: 1px solid hsl(234deg 60% 76%);
}

.price-box:hover li:nth-child(1){
    border-top:1px solid hsl(234deg 60% 76%);
}

.price-box:hover button{
    background-image:none; 
    background-color:white; 
    color: hsl(237, 63%, 64%);

}

.price-box:nth-child(1):hover{
    margin-right:0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.price-box:nth-child(2):hover{
    border-radius: 12px;
    
}

.price-box:nth-child(3):hover{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.price-box h4{
    font-size:13px;
}

.price{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:3rem;
}

.price::before {
    content:"$";
    font-size:1.6rem;
    margin-right:0.3rem;
}



.price-box:first-child{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
}

.price-box:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.price-box ul{
    padding:0px;
    list-style-type:none;
    
}

.price-box li{
    padding:15px 0;
    border-bottom: 1px solid hsl(234deg 16% 84%);
    color:hsl(233, 13%, 49%);
    font-size:12px;
}

.price-box li:nth-child(1){
    border-top: 1px solid hsl(234deg 16% 84%);
}

.price-box button {
    width:100%;
    height:30px;
    border:none;
    cursor:pointer;
    border-radius: 6px;
    margin-top:7px;
    padding:0;
   
}
.cta{
   
    background-image:linear-gradient(to right,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color:white;
    text-transform: uppercase;
    font-size:10.5px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;  
}
